* {
  Box-sizing: border-box; }

body { 
 margin: 0 auto;
}


h1,
h2,
h3,
h4,
a {
  font-family: "Work Sans", sans-serif;
}

p,
ul {
  font-family: "Roboto", sans-serif;
}

ul{
  list-style:none;
  text-align: center;
}
li{
  display: inline-block;
  margin-left: 15px;
}
.experience {
  background-color: yellow;
}
