* {
  Box-sizing: border-box; }

body { 
 max-width: 720px;
  margin-right: auto;
  margin-left: auto;
}


h1,
h2,
h3,
h4,
a {
  font-family: "Work Sans", sans-serif;
}

p,
ul {
  font-family: "Roboto", sans-serif;
}
@